<div class="card">
  <div class='card-header'>
    Scrap Profile
  </div>
  <div class='card-body'>
    <%= form_tag(crawl_scrap_path, method: :post) do %>
      <div class='form-group row'>
        <div class='col-md-6'>
          <%= label_tag :crawl_url, 'Twitter URL', class: 'font-weight-bold' %>
          <%= text_field_tag :crawl_url, '', class: 'form-control', required: true %>
        </div>
      </div>

      <div class='form-group row'>
        <div class='col-md-6'>
          <%= label_tag :crawl_token, 'API Token', class: 'font-weight-bold' %>
          <%= text_field_tag :crawl_token, '', class: 'form-control', required: true %>
        </div>
      </div>

      <div class='actions'>
        <%= submit_tag "Submit" %>
      </div>
    <% end %>
  </div>

</div>
